$primary-dark: #424242;
$secondary-dark: rgba(255,255,255,0.18);
$body-color: #efefef;
$primary-yellow: #FFD366;
$hover-yellow: #DEA921;

$weight-regular:#86D73F;
$weight-light: #31BAF9;
$weight-fat: #FF982D;
$weight-xl:#FF6C02; 
$weight-xxl: #FF6C02;
$weight-xxxl: #FF1200;

@font-face{
    font-family: bubble;
    src:url(../font/jf-openhuninn-1.1.ttf);
}